#logo{
    height: 70px;
    object-fit: contain;
}

.header-middle{
    background-color: rgba(71,94,77,255);
}
.gb{
    background-color: rgba(71,94,77,255);
    color: beige;
    font-size: medium;
}

.historyHeader{
    color: hotpink;
    font-size: 18px;
    margin: 0 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
}

.left-sidebar{
    background-color: #F0F0E9;
}

.col-sm-9{
    background-color: #F0F0E9;
}

.col-sm-4{
    display: inline-block;
    width: 32.5%;
}
.single-products{
    background-color: white;
}
.productImg{
    object-fit:contain;
    height: 180px;
}

.productLink{
    -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: rgb(188, 24, 197);
}

.cabinetAction{
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.spacer{
    padding-top: 100px;
}

.pagination{
    display: inline;
}

.new{
    height: 50px;
    object-fit: contain;
}

#about{
    color:hotpink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blockquote-footer{
    color: rgb(188, 24, 197);
}

.purple{
    color: rgb(188, 24, 197);
}

#hr {
    border-top: 
    1px solid #000; 
    width:50%;
}

.pinkBg{
    background-color: hotpink;
    color: white;
}


#contact2{
    letter-spacing:3px;
}

.contacts{
    color:hotpink;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
}

#contactUs{
    color: rgb(188, 24, 197);
}

.adminLink{
    -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    text-decoration: none;
    color: hotpink;
    font-size: 18px;    
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
}

.checkoutInput[type=text]{
    color: white;
}




